#notify-toast {
  position: absolute;
  bottom: 25%;
  width: 100%;
  height: 50%;
  padding-top: 10em;
  background-color: rgba(50,182,67,1.0);
}

#notify-toast.show {
  visibility: visible; 
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 25%; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 25%; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 25%; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 25%; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}